body {
    margin: 0px;
    padding: 0px;
}

#debug_toolbar {
    cursor: move;
    margin: 10px;
    background-color: gray;
    border-radius: 5px;
    /*width: 1000px;*/
    /*min-height: 100px;*/

    padding: 10px 5px 5px 5px;
    display: table;
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.75);
    z-index: 999999999;
}

